@font-face {
	font-family: "Avalon Medium";
	src: url("../fonts/avalon-medium.eot"); /* IE9 Compat Modes */
	src: url("../fonts/avalon-medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/avalon-medium.otf") format("opentype"), /* Open Type Font */
		url("../fonts/avalon-medium.svg") format("svg"), /* Legacy iOS */
		url("../fonts/avalon-medium.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/avalon-medium.woff") format("woff"), /* Modern Browsers */
		url("../fonts/avalon-medium.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}